body {
    font-family: Arial, Tahoma;
    font-size: 14px;
    color: #000000;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
}

.positivesmall, .addsmall, .negativesmall {
    color: #529214;
    border-color: #6DA827;
    font-weight: bold;
    padding-left: 25px;
}

.positivesmall {
    background: #5CCD00;
    background: -moz-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5CCD00), color-stop(100%, #4AA400));
    background: -webkit-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -o-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: -ms-linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    background: linear-gradient(top, #5CCD00 0%, #4AA400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00', endColorstr='#4AA400', GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5CCD00, endColorstr=#4AA400);
    padding: 0px 9px;
    color: #ffffff;
    /*font-family:'Helvetica Neue',sans-serif;*/
    font-size: 13px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #0f9900;
    text-decoration: none;
    margin-left: 5px;
}

.positivesmall:hover {
    background: -moz-linear-gradient(top, #4aa400 0%, #5CCD00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4aa400), color-stop(100%, #5CCD00));
    background: -webkit-linear-gradient(top, #4aa400 0%, #5CCD00 100%);
    background: -o-linear-gradient(top, #4aa400 0%, #5CCD00 100%);
    background: -ms-linear-gradient(top, #4aa400 0%, #5CCD00 100%);
    background: linear-gradient(top, #4aa400 0%, #5CCD00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa400', endColorstr='#5CCD00', GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4aa400, endColorstr=#5CCD00);
}

.negativesmall {
    background: #cc3600;
    background: -moz-linear-gradient(top, #cc3600 0%, #a34c00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc3600), color-stop(100%, #a34c00));
    background: -webkit-linear-gradient(top, #cc3600 0%, #a34c00 100%);
    background: -o-linear-gradient(top, #cc3600 0%, #a34c00 100%);
    background: -ms-linear-gradient(top, #cc3600 0%, #a34c00 100%);
    background: linear-gradient(top, #cc3600 0%, #a34c00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc3600', endColorstr='#a34c00', GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3600, endColorstr=#a34c00);
    padding: 0px 9px;
    color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #992900;
    text-decoration: none;
    margin-left: 5px;
}

.negativesmall:hover {
    background: -moz-linear-gradient(top, #a34c00 0%, #cc3600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a34c00), color-stop(100%, #cc3600));
    background: -webkit-linear-gradient(top, #a34c00 0%, #cc3600 100%);
    background: -o-linear-gradient(top, #a34c00 0%, #cc3600 100%);
    background: -ms-linear-gradient(top, #a34c00 0%, #cc3600 100%);
    background: linear-gradient(top, #a34c00 0%, #cc3600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a34c00', endColorstr='#cc3600', GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a34c00, endColorstr=#cc3600);
}

table {
    position: absolute;
    right: 0;
}

.slowDownButton {
    text-align: center;
}

#exitWindowButton, #restartWindowButton, #slowDownButton {
    font-size: 20px;
}

#spaceButton {
    position: absolute;
    bottom: 3%;
    left: 20%;
    right: 20%;
    visibility: hidden;
    top: 90%;
    text-align: center;
    align-items: center;
}


@media screen and (min-width: 1204px) {
    #spaceButton {
        font-size: xx-large;
    }
}