
/* buttons */
.btn {
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #6299c5;
    text-decoration: none;
    color: #006699;
    background-color: #F4F8FB;
    text-decoration:none;
    cursor:pointer;
    line-height: 1.1em;
}
.btn:hover
{
    border: 1px solid #A5C5DE;
    background-color: #E2EDF5;
    text-decoration:none;
}
.btnpositive, .btnadd
{
    color:#529214;
    border-color: #6DA827;
    font-weight: bold;
    background: url('/img/accept.png') no-repeat 5px 6px;
    padding-left: 25px;
}
.btnadd { background: url('/img/add.png') no-repeat 5px 6px; }
.btnpositive:hover, .btnadd:hover {
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
    text-decoration:none;
}

.btnnegative {
    color: #921414;
    border-color: #A82626;
    font-weight: bold;
    background: url('/img/cancel.png') no-repeat 5px 6px;
    padding-left: 25px;
}

.btnnegative:hover {
    background-color: #EFDDC2;
    border: 1px solid #d88080;
    color: #921414;
    text-decoration:none;
}

/* / buttons */

/* buttons small */
.btnsmall {
    display: inline-block;
    padding: 2px;
    font-size:12px;
    border: 0px solid #6299c5;
    text-decoration: none;
    color: #006699;
    background-color: #F4F8FB;
    text-decoration:none;
}
.btnsmall:hover {
    text-decoration:none;
}
.positivesmall, .addsmall {
    color:#529214;
    border-color: #6DA827;
    font-weight: bold;
    background: url('/img/accept.png') no-repeat 5px 5px;
    padding-left: 25px;
}
.addsmall { background: url('/img/add.png') no-repeat 5px 5px; }
.positivesmall:hover, .addsmall:hover
{
    color: #3C680F;
    text-decoration: none;
}

.negativesmall {
    color: #921414;
    border-color: #A82626;
    font-weight: bold;
    background: url('/img/cancel.png') no-repeat 5px 5px;
    padding-left: 25px;
}

.negativesmall:hover {
    border: 1px solid #fa716d;
    color: #921414;
    text-decoration:none;
}
.btndisabled { border-color: #b2b2b2; color: #b2b2b2; background-image:none; background-color: #e6e6e6; }
.btndisabled:hover { border-color: #d1d1d1; color: #d1d1d1; background-color: #e6e6e6; }
/* / buttons small */



/* <new buttons> */
/* http://gradients.glrzad.com/ */
/* http://graemeboy.com/css-buttons/ */
.positive {
    background:#5CCD00;
    background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
    background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#5CCD00, endColorstr=#4AA400);
    padding:8px 12px;
    color:#ffffff;
    /*font-family:'Helvetica Neue',sans-serif;*/
    font-size:15px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #459A00;
    behavior: url('/js/pie/PIE.htc');
    margin-right: 8px;
}
.positive:hover {
    background:-moz-linear-gradient(top,#4AA400 0%,#5CCD00 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4AA400),color-stop(100%,#5CCD00));
    background:-webkit-linear-gradient(top,#4AA400 0%,#5CCD00 100%);
    background:-o-linear-gradient(top,#4AA400 0%,#5CCD00 100%);
    background:-ms-linear-gradient(top,#4AA400 0%,#5CCD00 100%);
    background:linear-gradient(top,#4AA400 0%,#5CCD00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4AA400',endColorstr='#5CCD00',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4AA400, endColorstr=#5CCD00);
}
.negative {
    background:#cc3600;
    background:-moz-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cc3600),color-stop(100%,#a34c00));
    background:-webkit-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:-o-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:-ms-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:linear-gradient(top,#cc3600 0%,#a34c00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc3600',endColorstr='#a34c00',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3600, endColorstr=#a34c00);
    padding:8px 12px;
    color:#ffffff;
    /*font-family:'Helvetica Neue',sans-serif;*/
    font-size:15px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #992900;
    behavior: url('/js/pie/PIE.htc');
}
.negative:hover { /* just flip the gradient*/
    background:-moz-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#a34c00),color-stop(100%,#cc3600));
    background:-webkit-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:-o-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:-ms-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:linear-gradient(top,#a34c00 0%,#cc3600 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a34c00',endColorstr='#cc3600',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#a34c00, endColorstr=#cc3600);
}
.positivesmall {
    background:#5CCD00;
    background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
    background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#5CCD00, endColorstr=#4AA400);
    padding:0px 9px;
    color:#ffffff;
    /*font-family:'Helvetica Neue',sans-serif;*/
    font-size:13px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #0f9900;
    text-decoration:none;
    margin-left:5px;
    behavior: url('/js/pie/PIE.htc');
}
.negativesmall {
    background:#cc3600;
    background:-moz-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cc3600),color-stop(100%,#a34c00));
    background:-webkit-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:-o-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:-ms-linear-gradient(top,#cc3600 0%,#a34c00 100%);
    background:linear-gradient(top,#cc3600 0%,#a34c00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc3600',endColorstr='#a34c00',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3600, endColorstr=#a34c00);
    padding:0px 9px;
    color:#ffffff;
    font-size:13px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #992900;
    text-decoration:none;
    margin-left:5px;
    behavior: url('/js/pie/PIE.htc');
}
.neutralSmall {
    background-color: #d9d9d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#DFE2EC)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #fafafa, #DFE2EC); /* Chrome 10+, iOS 5+, Safari 5.1+ */
    background:    -moz-linear-gradient(top, #fafafa, #DFE2EC); /* Firefox 3.6-15 */
    background:      -o-linear-gradient(top, #fafafa, #DFE2EC); /* Opera 11.10-12.00 */
    background:         linear-gradient(to bottom, #fafafa, #DFE2EC); /* Firefox 16+, IE 10+, Opera 12.50+ */
    background:		 -ms-linear-gradient(top,#fafafa 0%,#DFE2EC 100%) !important;
    background:			  linear-gradient(top,#fafafa 0%,#DFE2EC 100%) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#DFE2EC',GradientType=0) !important;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafa, endColorstr=#DFE2EC) !important;
    padding:0px 9px;
    color:#333333;
    font-size:13px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #b4b4b4;
    text-decoration:none;
    margin-left:5px;
    behavior: url('/js/pie/PIE.htc');
}

.positivesmall:hover {
    background:-moz-linear-gradient(top,#4aa400 0%,#5CCD00 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4aa400),color-stop(100%,#5CCD00));
    background:-webkit-linear-gradient(top,#4aa400 0%,#5CCD00 100%);
    background:-o-linear-gradient(top,#4aa400 0%,#5CCD00 100%);
    background:-ms-linear-gradient(top,#4aa400 0%,#5CCD00 100%);
    background:linear-gradient(top,#4aa400 0%,#5CCD00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa400',endColorstr='#5CCD00',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4aa400, endColorstr=#5CCD00);
}
.negativesmall:hover {
    background:-moz-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#a34c00),color-stop(100%,#cc3600));
    background:-webkit-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:-o-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:-ms-linear-gradient(top,#a34c00 0%,#cc3600 100%);
    background:linear-gradient(top,#a34c00 0%,#cc3600 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a34c00',endColorstr='#cc3600',GradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#a34c00, endColorstr=#cc3600);
}
.neutralSmall:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#DFE2EC), to(#fafafa)); /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(top, #DFE2EC, #fafafa); /* Chrome 10+, iOS 5+, Safari 5.1+ */
    background:    -moz-linear-gradient(top, #DFE2EC, #fafafa); /* Firefox 3.6-15 */
    background:      -o-linear-gradient(top, #DFE2EC, #fafafa); /* Opera 11.10-12.00 */
    background:         linear-gradient(to bottom, #DFE2EC, #fafafa); /* Firefox 16+, IE 10+, Opera 12.50+ */
    background:		 -ms-linear-gradient(top,#DFE2EC 0%,#fafafa 100%) !important;
    background:			  linear-gradient(top,#DFE2EC 0%,#fafafa 100%) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFE2EC',endColorstr='#fafafa',GradientType=0) !important;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DFE2EC, endColorstr=#fafafa) !important;
}
/* </new buttons> */